/* "Constants":
    brown (shelf) :#996633
*/

body {
    background : rgb(94, 93, 93);
    font-family: Arial, Helvetica, sans-serif;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    z-index: 1;
}

#background {
    position : absolute;
    width: 100%;
    height: 5em;
    background : #996633e1;
    text-align: center;
    top : 0px;
    left : 0px;
    z-index: -1;
    border : 1px solid black;
}


table, th, td, tr {
    background : #996633e1;
    border : 1px solid rgb(94, 93, 93);
    border-collapse : collapse;
    width : 30%;
    text-align: center;
    
}

th {
    background: #7a4918;
}

#addBook {
    text-align : center;
}

button {
    background : #7a4918;
    width : 10em;
    height : 2em;
    border-radius : 10%;
    border : 1px solid black;
    outline-style : none;
    font-size : 16px;
}

button:hover {
    cursor : pointer;
}

#submit {
    
}

#bookForm {
    position: relative;
    display: none;
    margin : 2em auto;
    padding : 2em 2em;
    text-align: center;
    background : #996633;
    max-width: 12em;
    border : 1px solid darkgrey;
}

#bookForm input {
    background : darkgrey;
    border : 1px solid black;
}

#bookForm * {
    margin : 0.8em auto;
}

.readButton {
    background : #996633;
    border : 0px;
}
.deleteButton {
    border-radius: 0%;
    
}


table {
    margin : 3em auto;
}